.full {
	margin: 0;
}

.strict {
	padding: 25px 100px;
}

.typing {
	background-image: url(http://codifyacademy.com/week1/advanced/img/bg1.png);
	height: 800px;
	position: relative;
	bottom: 75px;
	text-align: center;
}

.typing h1 {
	text-align: center;
	font-size: 120px;
	color: white;
	position: relative;
	top: 200px;
	font-family: 'Lato', sans-serif;
}

.typing hr {
	border-color: #15a4fa;
	width: 50%;
	margin-left: 25%;
	position: relative;
	top: 90px;
}

.typing p {
	text-align: center;
	position: relative;
	top: 100px;
	color: white;
	font-size: 21px;
}

.typing button {
	background-color: transparent; 
	position: relative;
	top: 110px;
	border-color: #15a4fa;
	padding: 10px 10px;
	border-bottom: transparent;
	border-right: transparent;
}

.typing a {
	color: white;
	position:relative;
	top: 200px;
}

.simple {
	text-align: center;
}

.simple h2 {
	margin: 0 auto 50px auto;
	font-size: 48px;
	font-weight: lighter;
}

.simple p {
	margin: 0 200px;
	line-height: 1.8em;
	font-size: 18px;
	color: gray;
	font-style: italic;
}

.features {
	margin: 10px auto;
	text-align: center;
	align-content: center;
	height: 350px;
}

.features h3 {
	margin: 10px auto;
	font-size: 24px;
	font-weight: bold;

}

.features p {
	font-size: 21px;
	height: 50px;
	width: 345px;
	font-weight: lighter;
	color: gray;
	font-style: italic;
}

.optimize {
	display: inline-block;
	margin: 50px 15px;
	padding: 10px;
}

.optimize img {
	width: 53px;
	height: 85px;
}

.clean {
	display: inline-block;
	margin: 50px 15px;
	padding: 10px;
}

.clean img {
	width: 53px;
	height: 85px;
}

.font {
	display: inline-block;
	margin: 50px 15px;
	padding: 10px;
}

.font img {
	width: 53px;
	height: 85px;

}

.showcase {
	height: 695px;
	background-color: rgba(169, 161, 161, 0.36);
}

.pro {
	text-align: center;
}

.pro h4 {
	font-size: 35px;
	padding: 15px 0 15px 0;
	margin: 0;

}

.pro p {
	position: relative;
	top: -30px;
	font-weight: lighter;
	font-style: italic;
}

.proof {
	text-align: center;
}

.proof img {
	padding: 5px 20px;
	

}

.subscribe {
	background-image: url("http://codifyacademy.com/week1/advanced/img/bg2.png");
	height: 500px;
	text-align: center;
	padding-top: 10%;
	margin-bottom: 0;

}

.subscribe h5 {
	color: white;
	font-weight: bold;
	font-size: 40px;
	margin: 0;
}

.subscribe p {
	font-weight: lighter;
	color: gray;
}

form > input, textarea {
	background-color: transparent;
	display: block;
	width: 25%;
	position: relative;
	left: 37%;
	font-size: 16px;
    padding: 10px;
    border: 1px solid white;
    margin: 10px;
}

.subscribe div {
	text-align: center;
	margin-top: 20px;
}

.subscribe h6 {
	display: inline;
	font-size: 20px;
	color: white;
	margin-right: 35px;
}

.subscribe button {
	display: inline;
	background-color: transparent;
	border: 1px solid #1aa1f2;
	font-size: 14px;
	width: 7%;
	padding: 10px;
	color: white;
	position: relative;
	left: 20px;
}

footer {
	padding: 30px 50px;
	height: 50px;
	background-color: #F6F9F9;
}

footer p {
	font-weight: bold;
	float: left;
	margin: 10px auto;
	display: inline;
	left: 50px;
	font-size: 20px;
	height: 60px;
}

.sm {
	float: right;
	margin: 10px auto;
	height: 30px;
	position: relative;
	right: 50px;
	bottom: 20px;
}

.sm i {
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: #15a4fa;
	color: white;
	font-size: 22px;
	padding: 10px 10px;
	margin: 10px 15px;
}

a {
	text-decoration: none;
}